<div class="main-content mt-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <mat-card-header class="card-header global-card">
                        <mat-card-title class="card-title ">Liste des assignments</mat-card-title>
                    </mat-card-header>
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span matBadge="{{totalDocsRendu}}" matBadgeOverlap="false">Rendu</span>
                            </ng-template>
                            <div class="row">
                                <div class="col-4 mt-1" *ngFor="let a of assignmentsRendu">
                                    <mat-card>
                                        <mat-card-header>
                                            <img mat-card-avatar src="{{a.image}}" class="example-header-image">
                                            <mat-card-title>{{a.professeur.fName}} {{a.professeur.lName}}</mat-card-title>
                                            <mat-card-subtitle>{{a.matiere}}</mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <mat-grid-list cols="2" rowHeight="3:1">
                                                <mat-grid-tile>Etat :</mat-grid-tile>
                                                <mat-grid-tile *ngIf="a.rendu; else nonsoumis" appRendu>REMIS
                                                </mat-grid-tile>
                                                <ng-template #nonsoumis>
                                                    <mat-grid-tile appNonRendu>NON REMI</mat-grid-tile>
                                                </ng-template>
                                                <mat-grid-tile>Date :</mat-grid-tile>
                                                <mat-grid-tile class="text-left">{{a.dateDeRendu}}</mat-grid-tile>
                                            </mat-grid-list>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button class="mr-1" color="primary" routerLink="/assignment/{{a.id}}" aria-label="DETAIL">
                                                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                                            </button>
                                            <button *ngIf="isAuthorized" mat-icon-button class="mr-1 gren-icon" routerLink="/assignment/{{a.id}}/edit" aria-label="MODIFIER">
                                                <mat-icon class="material-icons-outlined">edit</mat-icon>
                                            </button>
                                            <button *ngIf="isAuthorized" mat-icon-button color="warn" aria-label="SUPPRIMER" (click)="onDeleteAssignment(a.id)">
                                                <mat-icon class="material-icons-outlined">delete</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>

                            <nav class="m-2 text-center justify-content-center">
                                <button mat-raised-button color="primary" (click)="premierePage(true)"
                                        class="btnPagination">
                                    Première
                                </button>
                                <button mat-raised-button color="primary" [disabled]="!hasPrevPageRendu"
                                        (click)="pagePrecedente(true)"
                                        class="btnPagination">
                                    Prev
                                </button>
                                <button mat-raised-button color="primary" [disabled]="!hasNextPageRendu"
                                        (click)="pageSuivante(true)"
                                        class="btnPagination">
                                    Suiv
                                </button>
                                <button mat-raised-button color="primary" (click)="dernierePage(true)"
                                        class="btnPagination">
                                    Dernière
                                </button>
                            </nav>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span matBadge="{{totalDocsNonRendu}}" matBadgeOverlap="false" matBadgeColor="warn">Pas encore rendu</span>
                            </ng-template>
                            <div class="row">
                                <div class="col-4 mt-1" *ngFor="let a of assignmentsNonRendu">
                                    <mat-card>
                                        <mat-card-header>
                                            <img mat-card-avatar src="{{a.image}}" class="example-header-image">
                                            <mat-card-title>{{a.professeur.fName}} {{a.professeur.lName}}</mat-card-title>
                                            <mat-card-subtitle>{{a.matiere}}</mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <mat-grid-list cols="2" rowHeight="3:1">
                                                <mat-grid-tile>Etat :</mat-grid-tile>
                                                <mat-grid-tile *ngIf="a.rendu; else nonsoumis" appRendu>
                                                    REMI
                                                </mat-grid-tile>
                                                <ng-template #nonsoumis>
                                                    <mat-grid-tile appNonRendu>
                                                        NON REMIS
                                                    </mat-grid-tile>
                                                </ng-template>
                                                <mat-grid-tile>Date :</mat-grid-tile>
                                                <mat-grid-tile class="text-left">{{a.dateDeRendu}}</mat-grid-tile>
                                            </mat-grid-list>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button class="mr-1" color="primary" routerLink="/assignment/{{a.id}}" aria-label="DETAIL">
                                                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                                            </button>
                                            <button *ngIf="isAuthorized" mat-icon-button class="mr-1 gren-icon" routerLink="/assignment/{{a.id}}/edit" aria-label="MODIFIER">
                                                <mat-icon class="material-icons-outlined">edit</mat-icon>
                                            </button>
                                            <button *ngIf="isAuthorized" mat-icon-button class="mr-1" color="warn" aria-label="SUPPRIMER" (click)="onDeleteAssignment(a.id)">
                                                <mat-icon class="material-icons-outlined">delete</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>

                            <nav>
                                <button mat-raised-button color="primary" (click)="premierePage(false)"
                                        class="btnPagination">
                                    Première
                                </button>
                                <button mat-raised-button color="primary" [disabled]="!hasPrevPageNonRendu"
                                        (click)="pagePrecedente(false)" class="btnPagination">
                                    Prev
                                </button>
                                <button mat-raised-button color="primary" [disabled]="!hasNextPageNonRendu"
                                        (click)="pageSuivante(false)" class="btnPagination">
                                    Suiv
                                </button>
                                <button mat-raised-button color="primary" (click)="dernierePage(false)"
                                        class="btnPagination">
                                    Dernière
                                </button>
                            </nav>

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>
