<mat-toolbar color="primary" *ngIf="authService.loggedIn()">
    <span>
        <a routerLink="/home" class="text-white" style="text-decoration: none">{{title}}</a>
    </span>
    <span class="fill-remaining-space"></span>
    <a routerLink="/add" class="text-white">
        <button mat-button>
            Ajouter un assignment
        </button>
    </a>
    <a routerLink="/user" class="text-white">
        <button mat-button>
            Utilisateur
        </button>
    </a>
    <button mat-button class="text-white" (click)="onLogout()">Se deconnecter</button>
</mat-toolbar>
