<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <div class="row">
      <div class="column left">
        <img src="{{assignmentTransmis.image}}" class="example-header-image">
      </div>
      <div class="column right">
        <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
        <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
        <p>Matière: {{ assignmentTransmis.matiere }}</p>
        <p>Professeur: {{ assignmentTransmis.professeur.fName + " "+ assignmentTransmis.professeur.lName}}</p>
        <p>Etudiant: {{ assignmentTransmis.auteur.fName + " "+ assignmentTransmis.auteur.lName}}</p>
      </div>
    </div>


    <div id="bottom">      
      <nav>
        <button [disabled]="!isAdmin()" mat-stroked-button color="primary" (click)="onClickEdit()">EDIT</button>
      </nav>
      <button mat-stroked-button color="warn" (click)="onDelete()">DELETE</button>
    </div>
  </mat-card>
</div>