<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-1" *ngIf="assignmentTransmis">
            <div>
                <mat-card-header class="card-header global-card">
                    <mat-card-title class="card-title ">Detail de l'assignments
                        : {{assignmentTransmis.nom}}</mat-card-title>
                </mat-card-header>
                <mat-card class="mt-3">
                    <div class="row">
                        <div class="col-4">
                            <img *ngIf="assignmentTransmis.professeur.image; else snsImg"src="{{assignmentTransmis.professeur.image}}" style="width: 15em" class="example-header-image">
                            <ng-template #snsImg>
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mCyTdVerlZkBa4mPc5wDWUXmbGcIuxaN-1FJ1kJ8BS6rq7vrD1B4Rm33wgyRRTFccwQ&usqp=CAU"
                                     style="width: 15em" class="example-header-image"  alt="Photo de l'utilisateur">
                            </ng-template>
                        </div>
                        <div class="col-4">
                            <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
                            <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
                            <p>Matière: {{ assignmentTransmis.matiere }}</p>
                            <p>
                                Professeur: {{ assignmentTransmis.professeur.fName + " " + assignmentTransmis.professeur.lName}}</p>
                            <p>
                                Etudiant: {{ assignmentTransmis.auteur.fName + " " + assignmentTransmis.auteur.lName}}</p>
                            <p *ngIf="assignmentTransmis.rendu; else nonRendu">
                                Note: {{ assignmentTransmis.note }} / 20</p>
                            <ng-template #nonRendu>
                                <p>Status: Pas encore rendu</p>
                            </ng-template>
                            <p *ngIf="assignmentTransmis.remarque">
                                Remarque: {{ assignmentTransmis.remarque}}</p>
                        </div>
                        <div class="col-4">
                            <img src="{{assignmentTransmis.image}}" class="example-header-image">
                        </div>
                    </div>


                    <div id="bottom" class="mt-2">
                        <nav>
                            <button [disabled]="!isAuthorized" mat-stroked-button color="primary"
                                    (click)="onClickEdit()">
                                EDIT
                            </button>
                        </nav>
                        <button [disabled]="!isAuthorized" mat-stroked-button color="warn" (click)="onDelete()">DELETE
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
