.container {
  margin: 30px;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}



.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}