<div class="container">
    <form class="form" (submit)="onSubmit($event);">
        <div>
            <mat-form-field appearance="standard" class="input-100">
                <mat-label>PRENOMS</mat-label>
                <input matInput placeholder="Prenom" [(ngModel)]="fName" name="fName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="input-100">
                <mat-label>NOM</mat-label>
                <input matInput placeholder="Nom" [(ngModel)]="lName" name="lName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="input-100">
                <mat-label>EMAIL</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="email" name="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="input-100">
                <mat-label>Mots de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Masquer mots de passe'"
                        [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="input-100">
                <mat-label>Choisir le rôle de l'utilisateur</mat-label>
                <mat-select [(ngModel)]="role" name="role">
                    <mat-option value="professeur">Professeur</mat-option>
                    <mat-option value="etudiant">Etudiant</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button type="submit" mat-stroked-button color="primary">
            Ajouter un utilisateur
        </button>
    </form>
</div>
