<main class="container mt-2">
    <div class="row">
        <div class="col-8"><h1>Liste des utilisateur</h1></div>
        <div class="col-4">
            <a routerLink="/add-user" class="ajouterBtn">
                <button mat-stroked-button color="primary">
                    Ajouter un utilisateur
                </button>
            </a>
            <<button mat-stroked-button color="primary" (click)="peuplerUserBD()">peuplerUserBD</button>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <span matBadge="{{profsLength}}" matBadgeOverlap="false">Professeur</span>
            </ng-template>

            <br>
            <mat-form-field>
                <mat-label>RECHERCHER</mat-label>
                <input matInput (keyup)="filterUser($event)" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="fName">
                    <th mat-header-cell *matHeaderCellDef> PRENOMS </th>
                    <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
                </ng-container>
                <ng-container matColumnDef="lName">
                    <th mat-header-cell *matHeaderCellDef> NOM </th>
                    <td mat-cell *matCellDef="let element"> {{element.lName}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> EMAIL </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ACTION </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator #profPaginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span matBadge="{{etudiantsLength}}" matBadgeOverlap="false" matBadgeColor="accent">Etudiants</span>
            </ng-template>

            <br>
            <mat-form-field>
                <mat-label>RECHERCHER</mat-label>
                <input matInput (keyup)="filterEtu($event)" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSourceEtu" class="mat-elevation-z8">
                <ng-container matColumnDef="fName">
                    <th mat-header-cell *matHeaderCellDef> PRENOMS </th>
                    <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
                </ng-container>
                <ng-container matColumnDef="lName">
                    <th mat-header-cell *matHeaderCellDef> NOM </th>
                    <td mat-cell *matCellDef="let element"> {{element.lName}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> EMAIL </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ACTION </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsEtu"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsEtu;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator #etuPaginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        </mat-tab>
    </mat-tab-group>
</main>
