<!--<button mat-stroked-button color="primary" (click)="peuplerUserBD()">peuplerUserBD</button>-->
<div class="main-content mt-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <mat-card-header class="card-header global-card">
                        <mat-card-title class="card-title">
                            Liste des professeurs et des étudiants
                        </mat-card-title>
                    </mat-card-header>

                    <mat-tab-group class="mt-1">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span matBadge="{{profsLength}}" matBadgeOverlap="false">Professeur</span>
                            </ng-template>

                            <br>
                            <mat-form-field>
                                <mat-label>RECHERCHER</mat-label>
                                <input matInput (keyup)="filterUser($event)" #input>
                            </mat-form-field>

                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                <ng-container matColumnDef="image">
                                    <th mat-header-cell *matHeaderCellDef> IMAGE</th>
                                    <td mat-cell *matCellDef="let element">
                                        <img *ngIf="element.image; else snsImg" mat-card-image src="{{element.image}}" style="width:30px"  alt="Photo de l'utilisateur">
                                        <ng-template #snsImg>
                                            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mCyTdVerlZkBa4mPc5wDWUXmbGcIuxaN-1FJ1kJ8BS6rq7vrD1B4Rm33wgyRRTFccwQ&usqp=CAU"
                                                 style="width:30px"  alt="Photo de l'utilisateur">
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="fName">
                                    <th mat-header-cell *matHeaderCellDef> PRENOMS</th>
                                    <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="lName">
                                    <th mat-header-cell *matHeaderCellDef> NOM</th>
                                    <td mat-cell *matCellDef="let element"> {{element.lName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> EMAIL</th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef> ROLE</th>
                                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>
                            <mat-paginator #profPaginator [pageSizeOptions]="[10, 15, 20]"
                                           showFirstLastButtons></mat-paginator>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span matBadge="{{etudiantsLength}}" matBadgeOverlap="false" matBadgeColor="accent">Etudiants</span>
                            </ng-template>

                            <br>
                            <mat-form-field>
                                <mat-label>RECHERCHER</mat-label>
                                <input matInput (keyup)="filterEtu($event)" #input>
                            </mat-form-field>

                            <table mat-table [dataSource]="dataSourceEtu" class="mat-elevation-z8">
                                <ng-container matColumnDef="image">
                                    <th mat-header-cell *matHeaderCellDef> IMAGE</th>
                                    <td mat-cell *matCellDef="let element">
                                        <img *ngIf="element.image; else snsImg" mat-card-image src="{{element.image}}" style="width:30px" alt="Photo de l'utilisateur">
                                        <ng-template #snsImg>
                                            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mCyTdVerlZkBa4mPc5wDWUXmbGcIuxaN-1FJ1kJ8BS6rq7vrD1B4Rm33wgyRRTFccwQ&usqp=CAU"
                                                 style="width:30px"  alt="Photo de l'utilisateur">
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="fName">
                                    <th mat-header-cell *matHeaderCellDef> PRENOMS</th>
                                    <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="lName">
                                    <th mat-header-cell *matHeaderCellDef> NOM</th>
                                    <td mat-cell *matCellDef="let element"> {{element.lName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> EMAIL</th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef> ROLE</th>
                                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsEtu"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsEtu;"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>
                            <mat-paginator #etuPaginator [pageSizeOptions]="[10, 15, 20]"
                                           showFirstLastButtons></mat-paginator>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>
