<div class="main-content mt-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div>
          <mat-card-header class="card-header global-card">
            <mat-card-title class="card-title ">Modification de l'assignment, asseigné par {{ assignment.professeur.fName + " " + assignment.professeur.lName}}</mat-card-title>
          </mat-card-header>
          <mat-card class="mt-3">
            <form ngForm #formAssignment class="form" (submit)="onSubmit($event)">
              <mat-form-field>
                <input matInput placeholder="Nom du devoir" required [(ngModel)]="nom" name="nom">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Choisissez une date</mat-label>
                <input matInput [matDatepicker]="picker" required [(ngModel)]="dateDeRendu" name="date">

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-checkbox *ngIf="isRendu; else nonRendu" [checked]=isRendu (click)="onAssignmentRendu()">
                Rendu
              </mat-checkbox>
              <ng-template #nonRendu>
                <mat-checkbox [checked]=isRendu (click)="onAssignmentRendu()">
                  Rendu
                </mat-checkbox>
              </ng-template>

              <mat-form-field [hidden]="!isRendu">
                <input matInput placeholder="note" required type="number" [(ngModel)]="note" name="note" min="0" max="20">
              </mat-form-field>

              <button mat-stroked-button color="primary">
                Modifier le devoir
              </button>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
